*.txt
*.o
*.pgm
*.ppm
*.raw
*/**/run.sh
*.bmp
*.ptx
Samples/0_Introduction/asyncAPI/asyncAPI
Samples/0_Introduction/c++11_cuda/c++11_cuda
Samples/0_Introduction/clock/clock
Samples/0_Introduction/clock_nvrtc/clock_nvrtc
Samples/0_Introduction/concurrentKernels/concurrentKernels
Samples/0_Introduction/cppIntegration/cppIntegration
Samples/0_Introduction/cppOverload/cppOverload
Samples/0_Introduction/cudaOpenMP/cudaOpenMP
Samples/0_Introduction/fp16ScalarProduct/fp16ScalarProduct
Samples/0_Introduction/matrixMulDrv/matrixMulDrv
Samples/0_Introduction/matrixMulDynlinkJIT/matrixMulDynlinkJIT
Samples/0_Introduction/matrixMul/matrixMul
Samples/0_Introduction/matrixMul_nvrtc/matrixMul_nvrtc
Samples/0_Introduction/mergeSort/mergeSort
Samples/0_Introduction/simpleAssert_nvrtc/simpleAssert_nvrtc
Samples/0_Introduction/simpleAssert/simpleAssert
Samples/0_Introduction/simpleAtomicIntrinsics_nvrtc/simpleAtomicIntrinsics_nvrtc
Samples/0_Introduction/simpleAtomicIntrinsics/simpleAtomicIntrinsics
Samples/0_Introduction/simpleAttributes/simpleAttributes
Samples/0_Introduction/simpleAWBarrier/simpleAWBarrier
Samples/0_Introduction/simpleCallback/simpleCallback
Samples/0_Introduction/simpleCooperativeGroups/simpleCooperativeGroups
Samples/0_Introduction/simpleCubemapTexture/simpleCubemapTexture
Samples/0_Introduction/simpleCUDA2GL/simpleCUDA2GL
Samples/0_Introduction/simpleDrvRuntime/simpleDrvRuntime
Samples/0_Introduction/simpleHyperQ/simpleHyperQ
Samples/0_Introduction/simpleIPC/simpleIPC
Samples/0_Introduction/simpleLayeredTexture/simpleLayeredTexture
Samples/0_Introduction/simpleMPI/simpleMPI
Samples/0_Introduction/simpleMultiCopy/simpleMultiCopy
Samples/0_Introduction/simpleMultiGPU/simpleMultiGPU
Samples/0_Introduction/simpleOccupancy/simpleOccupancy
Samples/0_Introduction/simpleP2P/simpleP2P
Samples/0_Introduction/simplePitchLinearTexture/simplePitchLinearTexture
Samples/0_Introduction/simplePrintf/simplePrintf
Samples/0_Introduction/simpleSeparateCompilation/simpleSeparateCompilation
Samples/0_Introduction/simpleStreams/simpleStreams
Samples/0_Introduction/simpleSurfaceWrite/simpleSurfaceWrite
Samples/0_Introduction/simpleTemplates_nvrtc/simpleTemplates_nvrtc
Samples/0_Introduction/simpleTemplates/simpleTemplates
Samples/0_Introduction/simpleTexture3D/simpleTexture3D
Samples/0_Introduction/simpleTextureDrv/simpleTextureDrv
Samples/0_Introduction/simpleTexture/simpleTexture
Samples/0_Introduction/simpleVoteIntrinsics_nvrtc/simpleVoteIntrinsics_nvrtc
Samples/0_Introduction/simpleVoteIntrinsics/simpleVoteIntrinsics
Samples/0_Introduction/simpleZeroCopy/simpleZeroCopy
Samples/0_Introduction/systemWideAtomics/systemWideAtomics
Samples/0_Introduction/template/template
Samples/0_Introduction/UnifiedMemoryStreams/UnifiedMemoryStreams
Samples/0_Introduction/vectorAddDrv/vectorAddDrv
Samples/0_Introduction/vectorAddMMAP/vectorAddMMAP
Samples/0_Introduction/vectorAdd_nvrtc/vectorAdd_nvrtc
Samples/0_Introduction/vectorAdd/vectorAdd
Samples/1_Utilities/bandwidthTest/bandwidthTest
Samples/1_Utilities/deviceQuery/deviceQuery
Samples/1_Utilities/deviceQueryDrv/deviceQueryDrv
Samples/1_Utilities/topologyQuery/topologyQuery
Samples/2_Concepts_and_Techniques/boxFilter/boxFilter
Samples/2_Concepts_and_Techniques/convolutionSeparable/convolutionSeparable
Samples/2_Concepts_and_Techniques/convolutionTexture/convolutionTexture
Samples/2_Concepts_and_Techniques/cuHook/cuHook
Samples/2_Concepts_and_Techniques/cuHook/libcuhook.so.1
Samples/2_Concepts_and_Techniques/dct8x8/dct8x8
Samples/2_Concepts_and_Techniques/EGLStream_CUDA_CrossGPU/EGLStream_CUDA_CrossGPU
Samples/2_Concepts_and_Techniques/EGLStream_CUDA_Interop/cuda_f_1.yuv
Samples/2_Concepts_and_Techniques/EGLStream_CUDA_Interop/cuda_yuv_f_1.yuv
Samples/2_Concepts_and_Techniques/EGLStream_CUDA_Interop/cuda_yuv_f_2.yuv
Samples/2_Concepts_and_Techniques/EGLStream_CUDA_Interop/EGLStream_CUDA_Interop
Samples/2_Concepts_and_Techniques/eigenvalues/eigenvalues
Samples/2_Concepts_and_Techniques/FunctionPointers/FunctionPointers
Samples/2_Concepts_and_Techniques/histogram/histogram
Samples/2_Concepts_and_Techniques/imageDenoising/imageDenoising
Samples/2_Concepts_and_Techniques/inlinePTX/inlinePTX
Samples/2_Concepts_and_Techniques/inlinePTX_nvrtc/inlinePTX_nvrtc
Samples/2_Concepts_and_Techniques/interval/interval
Samples/2_Concepts_and_Techniques/MC_EstimatePiInlineP/MC_EstimatePiInlineP
Samples/2_Concepts_and_Techniques/MC_EstimatePiInlineQ/MC_EstimatePiInlineQ
Samples/2_Concepts_and_Techniques/MC_EstimatePiP/MC_EstimatePiP
Samples/2_Concepts_and_Techniques/MC_EstimatePiQ/MC_EstimatePiQ
Samples/2_Concepts_and_Techniques/MC_SingleAsianOptionP/MC_SingleAsianOptionP
Samples/2_Concepts_and_Techniques/particles/particles
Samples/2_Concepts_and_Techniques/radixSortThrust/radixSortThrust
Samples/2_Concepts_and_Techniques/reductionMultiBlockCG/reductionMultiBlockCG
Samples/2_Concepts_and_Techniques/reduction/reduction
Samples/2_Concepts_and_Techniques/scalarProd/scalarProd
Samples/2_Concepts_and_Techniques/scan/scan
Samples/2_Concepts_and_Techniques/segmentationTreeThrust/segmentationTreeThrust
Samples/2_Concepts_and_Techniques/shfl_scan/shfl_scan
Samples/2_Concepts_and_Techniques/sortingNetworks/sortingNetworks
Samples/2_Concepts_and_Techniques/streamOrderedAllocationIPC/streamOrderedAllocationIPC
Samples/2_Concepts_and_Techniques/streamOrderedAllocationP2P/streamOrderedAllocationP2P
Samples/2_Concepts_and_Techniques/streamOrderedAllocation/streamOrderedAllocation
Samples/2_Concepts_and_Techniques/threadFenceReduction/threadFenceReduction
Samples/2_Concepts_and_Techniques/threadMigration/threadMigration
Samples/3_CUDA_Features/bf16TensorCoreGemm/bf16TensorCoreGemm
Samples/3_CUDA_Features/binaryPartitionCG/binaryPartitionCG
Samples/3_CUDA_Features/bindlessTexture/bindlessTexture
Samples/3_CUDA_Features/cdpAdvancedQuicksort/cdpAdvancedQuicksort
Samples/3_CUDA_Features/cdpBezierTessellation/cdpBezierTessellation
Samples/3_CUDA_Features/cdpQuadtree/cdpQuadtree
Samples/3_CUDA_Features/cdpSimplePrint/cdpSimplePrint
Samples/3_CUDA_Features/cdpSimpleQuicksort/cdpSimpleQuicksort
Samples/3_CUDA_Features/cudaCompressibleMemory/cudaCompressibleMemory
Samples/3_CUDA_Features/cudaTensorCoreGemm/cudaTensorCoreGemm
Samples/3_CUDA_Features/dmmaTensorCoreGemm/dmmaTensorCoreGemm
Samples/3_CUDA_Features/globalToShmemAsyncCopy/globalToShmemAsyncCopy
Samples/3_CUDA_Features/graphMemoryFootprint/graphMemoryFootprint
Samples/3_CUDA_Features/graphMemoryNodes/graphMemoryNodes
Samples/3_CUDA_Features/immaTensorCoreGemm/immaTensorCoreGemm
Samples/3_CUDA_Features/jacobiCudaGraphs/jacobiCudaGraphs
Samples/3_CUDA_Features/memMapIPCDrv/memMapIPCDrv
Samples/3_CUDA_Features/newdelete/newdelete
Samples/3_CUDA_Features/ptxjit/ptxjit
Samples/3_CUDA_Features/simpleCudaGraphs/simpleCudaGraphs
Samples/3_CUDA_Features/StreamPriorities/StreamPriorities
Samples/3_CUDA_Features/tf32TensorCoreGemm/tf32TensorCoreGemm
Samples/3_CUDA_Features/warpAggregatedAtomicsCG/warpAggregatedAtomicsCG
Samples/4_CUDA_Libraries/batchCUBLAS/batchCUBLAS
Samples/4_CUDA_Libraries/batchedLabelMarkersAndLabelCompressionNPP/batchedLabelMarkersAndLabelCompressionNPP
Samples/4_CUDA_Libraries/conjugateGradient/conjugateGradient
Samples/4_CUDA_Libraries/conjugateGradientCudaGraphs/conjugateGradientCudaGraphs
Samples/4_CUDA_Libraries/conjugateGradientMultiBlockCG/conjugateGradientMultiBlockCG
Samples/4_CUDA_Libraries/conjugateGradientMultiDeviceCG/conjugateGradientMultiDeviceCG
Samples/4_CUDA_Libraries/conjugateGradientPrecond/conjugateGradientPrecond
Samples/4_CUDA_Libraries/conjugateGradientUM/conjugateGradientUM
Samples/4_CUDA_Libraries/cuSolverDn_LinearSolver/cuSolverDn_LinearSolver
Samples/4_CUDA_Libraries/cuSolverRf/cuSolverRf
Samples/4_CUDA_Libraries/cuSolverSp_LinearSolver/cuSolverSp_LinearSolver
Samples/4_CUDA_Libraries/cuSolverSp_LowlevelCholesky/cuSolverSp_LowlevelCholesky
Samples/4_CUDA_Libraries/cuSolverSp_LowlevelQR/cuSolverSp_LowlevelQR
Samples/4_CUDA_Libraries/lineOfSight/lineOfSight
Samples/4_CUDA_Libraries/matrixMulCUBLAS/matrixMulCUBLAS
Samples/4_CUDA_Libraries/MersenneTwisterGP11213/MersenneTwisterGP11213
Samples/4_CUDA_Libraries/nvJPEG_encoder/nvJPEG_encoder
Samples/4_CUDA_Libraries/nvJPEG/nvJPEG
Samples/4_CUDA_Libraries/oceanFFT/oceanFFT
Samples/4_CUDA_Libraries/randomFog/randomFog
Samples/4_CUDA_Libraries/simpleCUBLAS_LU/simpleCUBLAS_LU
Samples/4_CUDA_Libraries/simpleCUBLAS/simpleCUBLAS
Samples/4_CUDA_Libraries/simpleCUBLASXT/simpleCUBLASXT
Samples/4_CUDA_Libraries/simpleCUFFT_2d_MGPU/simpleCUFFT_2d_MGPU
Samples/4_CUDA_Libraries/simpleCUFFT_callback/simpleCUFFT_callback
Samples/4_CUDA_Libraries/simpleCUFFT_MGPU/simpleCUFFT_MGPU
Samples/4_CUDA_Libraries/simpleCUFFT/simpleCUFFT
Samples/4_CUDA_Libraries/watershedSegmentationNPP/watershedSegmentationNPP
Samples/5_Domain_Specific/bicubicTexture/bicubicTexture
Samples/5_Domain_Specific/bilateralFilter/bilateralFilter
Samples/5_Domain_Specific/binomialOptions/binomialOptions
Samples/5_Domain_Specific/binomialOptions_nvrtc/binomialOptions_nvrtc
Samples/5_Domain_Specific/BlackScholes/BlackScholes
Samples/5_Domain_Specific/BlackScholes_nvrtc/BlackScholes_nvrtc
Samples/5_Domain_Specific/convolutionFFT2D/convolutionFFT2D
Samples/5_Domain_Specific/dwtHaar1D/dwtHaar1D
Samples/5_Domain_Specific/dxtc/dxtc
Samples/5_Domain_Specific/fastWalshTransform/fastWalshTransform
Samples/5_Domain_Specific/FDTD3d/FDTD3d
Samples/5_Domain_Specific/fluidsGL/fluidsGL
Samples/5_Domain_Specific/HSOpticalFlow/HSOpticalFlow
Samples/5_Domain_Specific/Mandelbrot/Mandelbrot
Samples/5_Domain_Specific/marchingCubes/marchingCubes
Samples/5_Domain_Specific/MonteCarloMultiGPU/MonteCarloMultiGPU
Samples/5_Domain_Specific/nbody/nbody
Samples/5_Domain_Specific/NV12toBGRandResize/NV12toBGRandResize
Samples/5_Domain_Specific/p2pBandwidthLatencyTest/p2pBandwidthLatencyTest
Samples/5_Domain_Specific/postProcessGL/postProcessGL
Samples/5_Domain_Specific/quasirandomGenerator_nvrtc/quasirandomGenerator_nvrtc
Samples/5_Domain_Specific/quasirandomGenerator/quasirandomGenerator
Samples/5_Domain_Specific/recursiveGaussian/recursiveGaussian
Samples/5_Domain_Specific/simpleD3D12/d3dx12.h
Samples/5_Domain_Specific/simpleD3D12/DX12CudaSample.cpp
Samples/5_Domain_Specific/simpleD3D12/DX12CudaSample.h
Samples/5_Domain_Specific/simpleD3D12/DXSampleHelper.h
Samples/5_Domain_Specific/simpleD3D12/Main.cpp
Samples/5_Domain_Specific/simpleD3D12/shaders.hlsl
Samples/5_Domain_Specific/simpleD3D12/ShaderStructs.h
Samples/5_Domain_Specific/simpleD3D12/simpleD3D12.cpp
Samples/5_Domain_Specific/simpleD3D12/simpleD3D12.h
Samples/5_Domain_Specific/simpleD3D12/sinewave_cuda.cu
Samples/5_Domain_Specific/simpleD3D12/stdafx.cpp
Samples/5_Domain_Specific/simpleD3D12/stdafx.h
Samples/5_Domain_Specific/simpleD3D12/Win32Application.cpp
Samples/5_Domain_Specific/simpleD3D12/Win32Application.h
Samples/5_Domain_Specific/simpleGL/simpleGL
Samples/5_Domain_Specific/simpleVulkanMMAP/simpleVulkanMMAP
Samples/5_Domain_Specific/simpleVulkan/simpleVulkan
Samples/5_Domain_Specific/smokeParticles/smokeParticles
Samples/5_Domain_Specific/SobelFilter/SobelFilter
Samples/5_Domain_Specific/SobolQRNG/SobolQRNG
Samples/5_Domain_Specific/stereoDisparity/stereoDisparity
Samples/5_Domain_Specific/volumeFiltering/volumeFiltering
Samples/5_Domain_Specific/volumeRender/volumeRender
Samples/5_Domain_Specific/vulkanImageCUDA/vulkanImageCUDA
Samples/6_Performance/alignedTypes/alignedTypes
Samples/6_Performance/transpose/transpose
Samples/6_Performance/UnifiedMemoryPerf/UnifiedMemoryPerf
